{cover_enabled, true}.
{erl_opts, [debug_info]}.
{eunit_opts, [verbose]}.
{cover_print_enabled, true}.

{overrides,
    [{override, gen_os_proc, [
        {plugins, [pc]},
        {provider_hooks, [
            {post,
                [{compile, {pc, compile}},
                    {clean, {pc, clean}}]
            }]
        }]}
    ]}.

{deps, [
	{gen_os_proc, ".*", {git, "git://github.com/bullno1/gen_os_proc.git", "HEAD"}}
]}.